<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}
<!-- подключение фильтра -->
{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
     {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   <!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
   <!-- А вот так мы используем наш тег-->
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> Количество доступных статей и новостей: </h3> <h3>{{ posts|length }}</h3>
    <h3> {{ next_Post|default_if_none:"Позже сообщим о свежих новостях!" }} </h3>
   <hr>
        <tr>
            {% if not is_author %}
            <td>
            <button>
            <a class="nav-link" href="{% url 'upgrade' %}">
            <h4><strong>Стать автором!</strong></h4>
            </a>
            </button>
            </td>
        </tr>
    {% endif %}
    {% if posts %}
       <table>
           <tr>
               <td>Категория</td>
               <td>Название</td>
               <td>Текст</td>
               <td>Дата публикации</td>

           </tr>

           {% for post in posts %}
           <tr>
              <td>
                  {% for category in post.postCategory.all %}
                        {{ category.name }}</td>
                  {% endfor %}
              <td>{{ post.title|censor| truncatechars:15 }}</td>
              <td>{{ post.text|censor }}</td>
              <td>{{ post.dataCreation | date:'d M. Y H ' }}</td>

           </tr>
           {% endfor %}


       </table>
    {% else %}
       <h2> Свежих новостей нет! </h2>
    {% endif %}
    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}


    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

{% endblock content %}